@media screen and (max-width: 1024px) {
    .services__container{
        grid-template-columns: repeat(2, 330px);
        justify-content: center;
        row-gap: 1.875rem;
    }
}

@media screen and (max-width: 768px) {
    .services__container{
        grid-template-columns: 310px;
    }
}